.SecretPage {
    height: calc(100vh - 100px);
    padding-top: 20px;
}

.SecretPage_title {
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.SecretPage_image_container {
    /* margin-top: 20px; */
    margin: 0 auto;
    /* padding: 30px; */
    max-width: 1300px;
    /* width: 1300px; */
    height: 600px;
    background-image: url(./img/Secret.jpeg);
    background-size: cover;
    padding-bottom: 20px;
}

@media screen and (max-width: 930px) {
    .SecretPage_image_container {
        height: 500px;
    }
}

@media screen and (max-width: 670px) {
    .SecretPage_image_container {
        height: 400px;
    }
}

@media screen and (max-width: 530px) {
    .SecretPage_image_container {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .SecretPage_image_container {
        height: 200px;
    }
}