.WhoWeAre {
    height: 943px;
    background: rgba(22, 22, 34, 0.5);
    width: 100%;
    padding-top: 60px;
}

.WhoWeAre_container {
    max-width: 1300px;
    margin: 0 auto;
}

.WhoWeAre_title {
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    justify-content: center;
}

.WhoWeAre_content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.WhoWeAre_content_title {
    /* font-family: 'Spartan'; */
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(217, 217, 217, 0.5);
    opacity: 0.5;
    transform: rotate(-90deg);
}

.WhoWeAre_content_description_container {
    max-width: 598px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.WhoWeAre_Ellipse1 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 0;
    /* top: 50%; */
}

.WhoWeAre_Ellipse2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    right: 0;
    /* top: 50%; */
}

@media screen and (max-width: 1400px) {
    .WhoWeAre_content {
        flex-direction: column;
        align-items:center;
        margin-top: 50px;
        gap: 30px;
    }  
    .WhoWeAre_content_title {
        /* transform: rotate(-90deg); */
        transform: none;
    }
    .WhoWeAre_Ellipse1 {
        width: 800px;
        height: 800px;   
    }
    .WhoWeAre_Ellipse2 {
        width: 800px;
        height: 800px;
    }
}

@media screen and (max-width: 1001px) {
    .WhoWeAre_Ellipse1 {
        width: 500px;
        height: 500px;   
    }
    .WhoWeAre_Ellipse2 {
        width: 500px;
        height: 500px;
    } 
}

@media screen and (max-width: 650px) {
    .WhoWeAre_title {
        font-size: 50px;
    }
    .WhoWeAre_content_title {
        font-size: 50px;
    }
    .WhoWeAre_content {
        padding: 10px;
    }
}

@media screen and (max-width: 501px) {
    .WhoWeAre_Ellipse1 {
        width: 150px;
        height: 150px;   
    }
    .WhoWeAre_Ellipse2 {
        width: 150px;
        height: 150px;
    } 
}

@media screen and (max-width: 451px) {
    .WhoWeAre_title {
        font-size: 30px;
    }
    .WhoWeAre_content_title {
        font-size: 30px;
    }
    .WhoWeAre_content {
        margin-top: 20px;
    }  
}