.SendSolanaBtn_container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.SendSolanaBtn_more {
    background: #00FFFF;
    border-radius: 16px;
    padding: 15px;
    margin-top: 10px;
    min-width: 270px;
}

.SendSolanaBtn_less {
    background: #ff65bd;
    border-radius: 16px;
    padding: 15px;
    margin-top: 10px;
    min-width: 270px;
}

.alarm_terms {
    color: white;
    background: rgba(235,55,66,.7);
    width: 200px;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    padding: 10px;
}

.alarm_terms_display {
    display: block;
}

.alarm_sendSucces {
    color: white;
    background: rgba(11,156,49,.7);
    width: 200px;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    padding: 10px 10px 10px 30px;
}

.alarm_sendSucces_display {
    display: block;
}

.alarm_loading {
    display: none;
}

.alarm_loading_display {
    display: block;
}

.alarm_sendError {
    color: white;
    background: rgba(235,55,66,.7);
    width: 200px;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    padding: 10px 10px 10px 30px;
    z-index: 10000;
}

.alarm_sendError_display {
    display: block;
}

.SendSolanaBtn_info {
    font-size: 10px;
}

.btnDEMO_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btnDEMO {
    width: 100px;
    height: 40px;
    padding: 6px;
    border: 3px solid black;
    border-radius: 5px;
    height: fit-content;
}

.SendSolanaBtn__custom_container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.SendSolanaBtn__custom_container_input {
    border: 2px solid gray;
    width: 100px;
    padding: 18px;
    margin-right: 10px;
}

@media screen and (max-width: 389px) {
    .btnDEMO_container {
        justify-content: center;
    }
}

@media screen and (max-width: 330px) {
    .SendSolanaBtn {
        font-size: 15px;
        width: 240px;
    }
}





.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    opacity: 0.9;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}



