.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 150px;
    margin-top: 100px;
    background: #101010;
    align-items: center;
}

.footer_nav__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer_links {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 900;
    cursor: point;
}

.footer_links:hover {
    background: linear-gradient(90deg, #FF008A -12.91%, #00FFFF 106.45%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
    .footer {
        height: 100%;
    }
    .footer_nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding-left: 100px;
    }
}